@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --green:#008000;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    outline: none; border:none;
    transition: all .2s linear;
}

*::selection{
    background:var(--green);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--green);
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--green);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--green);
}


 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: black; /* Fallback color */
  background-color: rgba(0,0,0,0.50); /* Black w/ opacity */
  transition: all 0.6s;
}


.modalsettings {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: -10px;
  top: 0;
  width: 30%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: black; /* Fallback color */
  background-color: rgba(0,0,0,0.50); /* Black w/ opacity */
  transition: all 0.6s;
}


.modal-content-settings {
  background-color: black;
  margin-left: 11px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  transition: all 0.6s;
  margin-top: 50px;
  color: white;
}

.modal-content-settings h2{
    color: white;
}



/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  transition: all 0.6s;
  margin-top: 50px;
}

.modal-content p{
    text-transform: none;
}

.modal-content li{
    color: white;
    margin: 25px;
    font-size: 13px;
    text-transform: none;
}

.modal-content h2{
    color: white;
    margin-top: 20px;
}



.modal-content p{
    color: black;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-size: 1.3rem;
  background: #222;
  color: #fff;
  border-radius: 5rem;
  padding: .5rem 2.5rem;
}

.close:hover {
  cursor: pointer;
  background: var(--green)!important;
}

.closey {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.closey:hover {
  cursor: pointer;
}  

#settings{
    width: 100%;
    float: right;
    margin-top: 7px;
    margin-right: 17px;
    display: flex;
    justify-content: flex-end;
}

#settings a{
    color: white;
    font-size: 18px;
}


#linkssocial{
    width: 100%;
    padding: 5px;
}

#linkssocial button{
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #333;
    color: white;
    font-size: 17px;
    padding: 15px;
    border-radius: 20px;
}

#linkssocial button:hover{
    background-color: #008000;
    cursor: pointer;
}

#linkssocial i {
    font-size: 20px;
}

#linkssocial button a{
    color: white;
}

#linkssocial a {
    background-color: transparent!important;
}


header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid #008000;
    margin-top: 20px;
    
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
    font-family: Acme;

}

header .user .post{
    font-size: 2rem;
    color:#eee;
    font-family: Architects Daughter;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
    text-transform: capitalize;
}



header .navbar ul li a:hover{
    background:var(--green);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
    font-family: Architects Daughter;
}

.home h1{
    font-size:5rem;
    color:#fff;
    font-family: Architects Daughter;
}

.home h1 span{
    color:var(--green);
    font-family: Architects Daughter;
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
    font-style: italic;
    text-transform: none;
    font-family: Architects Daughter;
    text-align: justify;
}

.home a{
    background-color: transparent!important;  
}

.home li{
    list-style-type: none!important;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.info a{
    background-color: transparent!important;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--green);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--green);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
    text-transform: none;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--green);
}


.education a{
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
    text-transform: capitalize;
    text-align: center;
    float: left;
}


.education a:hover{
    background: var(--green);
}


.education p a{
    padding:0.3rem;
    margin:1.5rem 0;
    background: none;
    color: purple;
    font-size: 2rem;
    border-radius: none;
    text-transform: none;
    text-align: center;
    float: none;
}

.transed{
    display: none;
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: auto;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    box-shadow:2px 1px 1px 2px aliceblue
}

.portfolio .box-container .box:hover{
    box-shadow: none;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}



.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
    text-transform: none;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--green);
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #333;
  display: flex;
  justify-content: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  color: black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}


#buttonsub{
    width: 100%;
    position: relative;
    margin-top: 10px;
    left: 49%;
    top: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#buttonsub h3{
    color: white;
}

.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:white;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
     background-image: linear-gradient(to right top, #000033, #001840, #00284b, #083754, #20475c);
    border: 1px solid white;
}
.button1:hover{
    color: gray;
    border: 1px solid gray;
}

.cardy{
    width: 100%;
    border: 1px solid white;
    padding: 15px;
    text-align: center;
}

.cardy:hover{
    transform: scale(0.97);
}

.cardy img{
    width: 25%;
}

.cardy h3{
    text-align: center;
    color: white!important;
    font-size: 20px;
}

.cardy a{
    color: white;
    background-color: #333;
    padding: 10px;
    margin: 10px;
    border-radius: 5rem;
    font-size: 17px;
}

.cardy a:hover{
    background-color: #008000;
}



input[type=checkbox].dark {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 60px;
    height: 30.5px;
    border-radius: 40px;
    background-color: #ddd;
    outline: 0;
    cursor: pointer;
    transition: background-color 0.8s ease-in-out;
    position: relative;
}

input[type=checkbox].dark:before{
    content: '';
    position: absolute;
    width: 60px;
    height: 25px;
}

input[type=checkbox].dark:checked {
    background-color: #ddd;
}

input[type=checkbox].dark::after {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../img/night.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: 50%;
    border-radius: 50px;
    position: absolute;
    transform: scale(0.7);
    left: 0;
    transition: left 0.09s ease-in-out;
    box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
    position: absolute;
}


input[type=checkbox].dark:checked::after {
    left: 29px;
    background-image: url(../img/sun.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}


input[type=text].box{
    border: 1px solid white;
    border-radius: 10px;
}

input[type=email].box{
    border: 1px solid white;
    border-radius: 10px;
    width: 100%;
}

textarea{
    border: 1px solid white;
    border-radius: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: 25px;
  right: 105%; 

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}




/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

    video{
        width: 100%;
    }

    .modalsettings{
        width: 60%;
    }

    .modal-content-settings{
        margin-left: 5%;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }
    
     #settings{
    margin-top: 15px;
    margin-right: 150px;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }

 @media(max-width: 250px){
    #settings{
        margin-top: 30px;
    margin-right: 150px;
    }
 }
